<div class="overflow-hidden bg-white border-gray-200 rounded shadow-md">
  <img
    src="images/stew.jpg"
    alt="stew"
    class="object-cover w-full h-32 sm:h-48"
  />
  <div class="m-4 text-3xl uppercase text-accent-2-dark">
    <span class="font-bold">5 Bean Chili Stew</span>
    <span class="block text-sm text-gray-500">Recipe by Mario</span>
  </div>
</div>
